# Entornos virtuales
venv/
env/
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema operativo (Mac/Windows)
.DS_Store
Thumbs.db

# Configuraciones de editores de código (VS Code, PyCharm, etc.)
.vscode/
.idea/
*.swp